body {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(128, 0, 0));
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0;
}
html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Oswald', sans-serif; /* this should be the rest of the output you got from Google fonts */
}
.prg-1 {
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 900px;
  font-size: 18px;
  border: 3px solid black;
  margin: 10px;
  letter-spacing: 1px;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 10px;
}
/* Create four equal columns that sits next to each other */
.grup-foto {
  -ms-flex: 45%; /* IE10 */
  flex: 45%;
  max-width: 45%;
  padding: 0 4px;
}

.grup-foto img {
  opacity: 0.85;
  cursor: pointer;
}
.grup-foto img:hover {
  opacity: 1
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grup-foto {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}

button {
  margin: 50px
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
  text-shadow: 3px 3px 1px white;



